:root{
    --color_azulPalido: hsl(225, 100%, 94%);
    --color_azulBrillante: hsl(245, 75%, 52%);
    --color_azulIPalido: hsla(225, 100%, 94%, 0.30);
    --color_azulMPalido: hsl(225, 100%, 98%);
    --color_azulDesaturado:hsl(224, 23%, 55%);
    --color_azulOscuro:hsl(223, 47%, 23%);
}


body{
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    /*font-size: 16px; /* 1rem = 10px*/
    

    
}

.contenedor{
    display: flex;
    flex-direction: column; /*indica la direccion de Justify content*/
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 75px auto;
    
    
}

.tarjeta{
    background-color: var(--color_azulMPalido);
    border-radius: 15px;
}

.tarjeta__imagen{
    width:300px ;
    margin-bottom: 10px;
    border-radius: 15px 15px 0px 0px;
}

.tarjeta  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0 5px;
}

.tarjeta p{
    margin: 0 30px 15px;
    text-align: center;
    font-size: 12px;
    color: var(--color_azulDesaturado);
    
}

.tarjeta__plan{
    display: flex;
    height: 60px;
    align-items: center;
    
    margin: 0 25px;
    background-color: lightblue;
    font-size: 12px;
    border-radius: 15px;

}
.tarjeta__plan__musica{
    width: 40px;
    height: 40px;
    margin-left: 10px;
} 

.tarjeta__plan__texto{
    line-height:20px;
    margin: 10px 30px 0px -15px;
    text-align: center;
    
}

.tarjeta__plan__texto span{
    font-weight: 700;
}

.tarjeta__plan__texto p{
    font-weight: 500;
    color: var(--color_azulDesaturado);
}
